In [1]:
import pandas as pd

In [28]:
DATADIR = '~/Data/sports/volleyball/'
stopwords = set(pd.read_csv('~/Data/general-knowledge/english_stopwords_nltk.txt', header=None)[0])

In [54]:
def normalise(s): 
    return " ".join([v for v in "".join([w for w in s.replace("/"," ").replace("-", " ").lower() 
                                if (w.isalnum() or w == ' ')]).split() if v not in stopwords])

def find_abbreviatons(s):
    return True if set(normalise(s).split()) & abbrs_volleyball else False

def find_countries(s):
    return True if len(set(normalise(s).split()) & cntrs_volleyball) == 2 else False

In [58]:
tkt_events = pd.read_csv('~/Data/ticketek-shows/all-tkt-events-11092017.csv.gz', encoding='latin-1', sep='\t')

In [59]:
tkt_events.head()

   event_id                                        description
0         1                              unknown - - - - - - -
1         2                              unknown - - - - - - -
2         3  r carlos nakai - iwaki auditorium      r. carl...
3         4  karen schaupp - iwaki auditorium       karin s...
4         5                              unknown - - - - - - -

In [49]:
comps_volleyball = [normalise(comp) for comp in pd.read_csv(DATADIR + 'comps_volleyball_11092017.txt', header=None)[0].tolist()]
abbrs_volleyball = set(pd.read_csv(DATADIR + 'abbrs_volleyball_11092017.txt', header=None)[0])
cntrs_volleyball = set(pd.read_csv(DATADIR + 'cntrs_volleyball_11092017.txt', header=None)[0])

In [50]:
abbrs = {"championships": ["champs"]}
country_alt = {"united states": ["usa", "united states of america", "us"],
              "russia": ["russian federation"],
              "chinese taipei": ["taiwan"],
              "macedonia": ["fyrom"],
              "netherlands": ["holland"]}

In [51]:
cntrs_volleyball

{'argentina',
 'australia',
 'austria',
 'belgium',
 'brazil',
 'bulgaria',
 'canada',
 'china',
 'chinese taipei',
 'czech republic',
 'egypt',
 'estonia',
 'finland',
 'france',
 'germany',
 'greece',
 'iran',
 'italy',
 'japan',
 'kazakhstan',
 'mexico',
 'montenegro',
 'netherlands',
 'poland',
 'portugal',
 'qatar',
 'russia',
 'serbia',
 'slovakia',
 'slovenia',
 'south korea',
 'spain',
 'tunisia',
 'turkey',
 'united states',
 'venezuela'}

In [52]:
abbrs_volleyball

{'avc', 'avl', 'cev', 'cism', 'fivb', 'norceca', 'qbvt', 'sabvs', 'wch'}

In [55]:
tkt_events.loc[tkt_events.description.apply(find_abbreviatons) | tkt_events.description.apply(find_countries),:]

       _event_id  perf_y                                        description
399         1651    2002  wallabies v france test - stadium australia   ...
591          304    2002  evolution - ais arena canberra         evoluti...
1264        1367    1999  1999 intercontinental cup, baseball - blacktow...
1267        1370    1999  1999 intercontinental cup, baseball - blacktow...
2814        5673    2002  evolution - history of circus & gymnastics - b...
3521        5000    1999  socceroos v brazil - stadium australia   lg so...
3597        9459    2001  national museum of australia opening day conce...
3736        5041    2002  wallabies v france test - stadium australia   ...
4069        8580    2000  womens soccer at sfs, bruce, breakers   the ma...
4227        8609    1999  canberra cosmos soccer - bruce stadium canberr...
4364        8672    2000  womens soccer at sfs, bruce, breakers   the ma...
4367        8675    2000  wallabies v argentina - bruce stadium canberra...
4616       13094    2004  sunshine of fujian - comedy theatre spirit of ...
4931        9344    1999  mens four nation hockey - lyneham centre      ...
4932        9345    1999  mens four nation hockey - lyneham centre      ...
5112       16016    2005  2005 davis cup first round tie   australia vs ...
5113       16017    2005  2005 davis cup first round tie   australia vs ...
9333       26953    1999  mens basketball - aust v russia - ssc    austr...
11217      36923    2004  sydney cricket ground trust members day passes...
12663      45126    1999  national gallery dual exhibit monet/russia  2 ...
12664      45127    1999  national gallery dual exhibit monet/russia   f...
12900      41774    2001  davis cup final - mpk - ground pass - 2001    ...
12950      44715    2002  opals world challenge - newcastle ent centre o...
12951      44716    2002  opals world challenge - newcastle ent centre o...
15455      51434    2000  australia japan friendship concert - syd opera...
15819      48938    2002  rugby aus a v france a - northpower stadium  a...
15852      46372    2004  euro grand final - enmore theatre 2004    to g...
16130      55756    2002  australia a v canada - parramatta stadium  aus...
16453      60408    1999  1999 intercontinental cup, baseball - homebush...
16456      60411    1999  1999 intercontinental cup, baseball - homebush...
...          ...     ...                                                ...
74250     272006    2014  fed cup proxy page - qld tennis centre     pat...
74251     272007    2014  fed cup 2014 - qld tennis centre     pat rafte...
74252     272008    2014  fed cup 2014 - qld tennis centre     pat rafte...
74355     273891    2015  afc members - stadium australia          qatar...
74865     273143    2014  unknown   australia vs finland   ais arena - c...
75710     273149    2014  australia v finland world league - ais arena c...
75723     274033    2015  asc parking - anz stadium    asc parking recei...
80137     308404    2015  asian cup 2015 - all corporate events         ...
80965     317688    2015  davis cup packages - marrara sports complex   ...
80966     317689    2015  davis cup      davis cup 2015  marrara sports ...
81649     316884    2015  davis cup 2015 - marrara sports complex      d...
81790     316902    2015  davis cup 2015 - marrara sports complex      d...
81936     316951    2015  davis cup packages - marrara sports complex   ...
82989     322462    2015  melbourne test events - 2015      davis cup 20...
83956     324476    2015  china - australia e commerce event  cross-bord...
84186     322298    2015  melbourne test events - 2015      davis cup 20...
84395     322345    2015  melbourne test events - 2015      davis cup 20...
92417     349902    2016  2016 davis cup 3 session package - kra      da...
92418     349903    2016  davis cup 2016 single sessions - kra      davi...
92419     349904    2016  davis cup 2016 single sessions - kra      davi...
92562     349905    2016  davis cup 2016 single sessions - kra      davi...
93231     358096    2017  rugby league world cup - all venues    austral...
96017     370363    2017  super classico 2017 - mcg          brazil melb...
96822     372563    2017  melbourne test events 2017          brazil mel...
97512     371989    2017  rugby league world cup 2017 hospitality    aus...
97591     372715    2017  super classico 2017 - mcg          brazil melb...
98229     375596    2017  rlwc2017 corporate events    australia v franc...
98943     383859    2017  2017 mcc internal tickets- mcg          brazil...
99536     383669    2017  2017 corporate suites - mcg special events    ...
99537     383670    2017  2017 parking - mcg special events          bra...

[161 rows x 3 columns]